PORT=3100
REDIS_URL=redis://localhost:6379
PORTABLE_COLLECTION_ISSUER=http://localhost:3100
PORTABLE_COLLECTION_WEB_ORIGIN=http://localhost:3100
PORTABLE_COLLECTION_PRIVATE_KEY_BASE64=
PORTABLE_COLLECTION_TRUSTED_CLIENTS=
PORTABLE_COLLECTION_TRUSTED_ISSUERS=
